body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
	width: 100%;
}

#home {
	margin-left: auto;
	margin-right: auto; 
	width: 80%;
}

.tweet_pile {
	width: 300px;
	height: 200px;
	display: inline-block;
	overflow: scroll;
	margin: 10px;
	box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
}

.tweet_pile ul {
	list-style-type: none;
	margin: 0px;
	padding-left: 5px;
	margin-left: 5px;
	width: 270px;
}

.tweet_pile ul li {
	border-bottom: 1px solid #CCC;
	font-size: 11px;
}

.twitter_handle {
	border-bottom: 1px solid gray;
	width: 100%;
	margin-left: 5px;
	font-weight: bold;
}

li.current, li.current a {
	color: black;	
}
li.old, li.old a {
	color: #888;	
}
li.older, li.older a {
	color: #ccc;	
}