// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet_pile {
	width: 300px;
	height: 200px;
	display: block;
	float: left;
	overflow: scroll;
	margin: 10px;
	box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
}

.tweets_list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width: 270px;
}

.tweets_list li {
	border-bottom: 1px solid #CCC;
	font-size: 11px;
}

.twitter_handle {
	border-bottom: 1px solid gray;
	width: 100%;
	display: inline-block;
	margin-left: 5px;
	font-weight: bold;
}

li.current {
	color: black;	
}
li.current a {
	color: black;
}
li.old {
	color: #888;	
}
li.old a {
	color: #888;
}
li.older {
	color: #ccc;	
}
li.older a {
	color: #ccc;
}